<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Language" description="Foundation Language" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <!--
                        The template folder with its children will be stored automaticaly to unicorn because the extends attribute above  
                        <include name="Template.Language" database="master" path="/sitecore/templates/Foundation/Language"/>-->
                        <include name="Template.LanguageExtension" database="master" path="/sitecore/templates/System/Language"/>
                        <include name="Languages.de-CH" database="master" path="/sitecore/system/Languages/de-CH"/>
                        <include name="Languages.de-FR" database="master" path="/sitecore/system/Languages/fr-CH"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
  </sitecore>
</configuration>
