@model MCH.Foundation.ExperienceForms.Client.Models.PageDataSourceRenderingModel
@{
    Model.ScriptCategory = "foundationexperienceforms";
}
<div>
    <div style="background-color: red">hallohallo</div>
</div>
