@model MCH.Foundation.ExperienceForms.Client.Models.PageDataSourceRenderingModel
@{
    //Model.ScriptCategory = "foundationexperienceforms";
}

<div @Model.HtmlAttributes>
    <div style="background-color: red">hallohallo</div>
</div>
